
#city-form {

background-color: lightblue;

}
#cities-view{

	
    height:500px;
    background-color: #cccccc;
    background-image: linear-gradient(skyblue, green
    );
}

h1{

font-family: 'Armata';font-size: 52px;

	background-color:skyblue;
	text-align: center;
}

#city-form{

	font-family: monospace;
}

